@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

$orangeRed: #FF4500;
$yellowGold:#FFD700;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    transition: 0.2s linear;
    //font-family: Montserrat;
  }

body{
    background-color: #FFFAFA;
}

.app{
    display: flex;
    justify-content: center;
   // padding: 0 3rem 0 3rem;
    .container{
        width: 1024px;
        .link{
            text-decoration: none;
            color: inherit;
        }

        //LOGIN & REGISTER
        .auth{
            display: flex;
          //display: inline-flex;
          //flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 100vh;
            
            .login{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 70vh;
                text-align: center;
                border-radius: 20px;
                box-shadow: 1px 1px 21px 8px rgba(0,0,0,0.75);
                -webkit-box-shadow: 1px 1px 21px 8px rgba(0,0,0,0.75);
                -moz-box-shadow: 1px 1px 21px 8px rgba(0,0,0,0.75);

                .pic{
                    height: 100%;
                    width: 50%;
                    
                    img{
                        width: 100%;
                        height: 100%;
                        border-bottom-left-radius: 1.3rem;
                        border-top-left-radius: 1.3rem;
                    }
                }

                .form{
                    height: 100%;
                    width: 50%;
                    padding: 1.9rem;
                    display: flex;
                    justify-content: center;
                    flex-direction: column;

                    h3{
                        font-family: 'Lobster', cursive;
                        margin-bottom: 1rem;
                        font-size: 2rem;
                    }

                    img{
                        width: 15rem;
                        height: auto;
                        margin: 0 auto;
                    }

                    .p1{
                        padding: 1.25rem 0;
                        color: #333;
                        font-size: 1rem;
                    }

                    .inputIcon{

                        .icon{
                            position: absolute;
                            padding: 1.25rem;
                            z-index: 1;
                        }

                        .inputField{
                            height: 2.5rem;
                            width: 80%;
                            border: 1px solid #FF4500;
                            outline: none;
                            padding: .3rem 2.5rem;
                            margin-top: .62rem;
                            font-size: medium;
                            border-radius: 1.25rem;
                            position: relative; 
                        }
                    }

                    button{
                        height: 2.5rem;
                        width: 50%;
                        border: none;
                        outline: none;
                        margin: 1.25rem auto;
                        border-radius: 1.25rem;
                        cursor: pointer;
                        color: white;
                        font-weight: bold;
                        background: $orangeRed;
                        transition: all .4s;

                        &:hover{
                            background: $yellowGold;
                        }
                    }

                    p{
                        font-size: 1rem;
                        color: red;
                        text-align: center; 
                    }

                    span{
                        font-size: 1rem;
                        text-align: center;

                        .registerLink{
                            color: $orangeRed;
                            font-weight: 800;
                            transition: all .4s;
                            &:hover{
                                color: $yellowGold
                            }
                        }
                    }

                    .socialLinks{
                        display: flex; 
                        justify-content: center;
                        
                        .circle{
                            height: 2.5rem;
                            width: 2.5rem;
                            border-radius: 50%;
                            background: white;
                            margin: 1.9rem .62rem;
                            cursor: pointer;
                            padding: .8rem;
                            box-shadow: 0px 0px 9px 3px rgba(117,62,62,0.75);
                            -webkit-box-shadow: 0px 0px 9px 3px rgba(117,62,62,0.75);
                            -moz-box-shadow: 0px 0px 9px 3px rgba(117,62,62,0.75);

                            .fa-facebook-f{
                                color: blue;
                            }
                            
                            .fa-pinterest-p{
                                color: #c8232c;
                            }
                            
                            .fa-instagram{
                                color: red;
                            }
                            
                            .fa-twitter{
                                color: dodgerblue;
                            }
                        }
                    }
                }//fin del form
        }

           /* h1{
                font-size: 3rem;
                color: $yellowGold;
                margin-bottom: 1.30rem;
            }

            form{
                display: flex;
                flex-direction: column;
                padding: 3.12rem;
                background-color: white;
                width: 15.5rem;
                gap: 1.25rem;

                input{
                    padding: 0.62rem;
                    border: none;
                    border-bottom: 1px solid grey;
                }

                button{
                    padding: 0.62rem;
                    border: none;
                    background-color: $yellowGold;
                    cursor: pointer;
                    font-size: 1rem;
                }

                p{
                    font-size: 0.8rem;
                    color: red;
                    text-align: center;
                }

                span{
                    font-size: 0.8rem;
                    text-align: center;
                }
            }*/
        }//fin de auth

         //NAVBAR
         .navbar{
            margin-bottom: 2rem;
              .container{
                padding: .63rem 0rem;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .logo{
                    img{
                        width: 15rem;
                        height: auto;
                    }
                }
                .links{
                    display: flex;
                    align-items: center;
                    gap: .63rem;

                    h6{
                        font-size: 1rem;
                        //font-weight: 300;
                    }

                    span{
                        cursor: pointer;
                    }

                    .write{
                        background-color: $orangeRed;
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        font-weight: 300;
                        border: 1px solid white;

                        &:hover{
                            color: $orangeRed;
                            background-color: white;
                            border: 1px solid $orangeRed;
                        }
                    }
                }
              }//fin de navbar  
        }

        //FOOTER
        footer{
            margin-top: 6.25rem;
            padding: 1.25rem;
            background-color: $orangeRed;
            display: flex;
            align-items: center;
            justify-content: space-between;
            font-size: 1.5rem;
            border-radius: 1rem;
            img{
                width: 15rem;
                height: auto;
            }
        }//fin del footer

        //HOME
        .home{
            
            .posts{
                margin-top: 3rem;
                display: flex;
                flex-direction: column;
                gap: 9rem;

                .post{
                    display: flex;
                    gap: 6.25rem;

                    &:nth-child(2n+1){ //significa que si es un numero impar
                        flex-direction: row-reverse;
                    }

                    .img{
                        flex: 2;
                        position: relative;

                        &::after{
                            content: "";
                            width: 100%;
                            height: 100%;
                            background-color: $orangeRed;
                            position: absolute;
                            top: 1.25rem;
                            left: -1.25rem;
                            z-index: -1;
                        }

                        img{
                            width: 100%;
                          //  height: auto;
                            max-height: 25rem;
                            object-fit: cover;
                        }
                    }

                    .content{
                        flex: 3;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;

                        h1{
                            font-size: 3rem;
                        }
                        p{
                            font-size: 1rem;
                            text-align: justify;
                            line-height: 1.9rem;
                        }
                        button{
                            width: max-content;
                            padding: .6rem 1.25rem;
                            cursor: pointer;
                            background-color: white;
                            border: 1px solid $orangeRed;
                            color: $orangeRed;

                            &:hover{
                                border:  1px solid white;
                                background-color: $yellowGold;
                                color: black;
                            }
                        }

                    }
                }
            }
        }//fin de home

        //SINGLE
        .single{
            display: flex;
            gap: 3rem;
           

            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 1.5rem;

                img{
                    width: 100%;
                    //height: auto;
                    height: 25rem;
                    object-fit: cover;
                }
                .user{
                    display: flex;
                    align-items: center;
                    gap: .62rem;
                    font-size: .9rem;
                    img{
                        width: 3rem;
                        height: 3rem;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span{
                        font-weight: bold;
                    }

                    .edit{
                        display: flex;
                        gap: .3rem;
    
                        img{
                            width: 1.50rem;
                            height: 1.50rem;
                            cursor: pointer;
                        }
                    }
                }

                h1{
                    font-size: 2.6rem;
                    color: #333;
                }

                p{
                    text-align: justify;
                    line-height: 1.9rem;
                    font-size: 1rem
                }

            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 1.6rem;

                h1{
                    font-size: 1.25rem;
                    color: #555;
                }
                .post{
                    display: flex;
                    flex-direction: column;
                    gap: .6rem;
                    
                    img{
                        width: 100%;
                        height: 12.5rem;
                        object-fit: cover;
                    }

                    h2{
                        color: #555;
                    }

                    button{
                        width: max-content;
                        padding: .6rem 1.25rem;
                        cursor: pointer;
                        background-color: white;
                        border: 1px solid $orangeRed;
                        color: $orangeRed;

                        &:hover{
                            border:  1px solid white;
                            background-color: $yellowGold;
                            color: black;
                        }
                    }
                }
            }
        }//fin de single

        //WRITE
        .add{
            margin-top: 1.25rem;
            display: flex;
            gap: 1.25rem;
            
            .content{
                flex: 5;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                input{
                    padding: .62rem;
                    border: 1px solid lightgrey;
                }

                .editorContainer{
                    height: 20rem;
                    overflow: scroll;
                    overflow-y: hidden;
                    border: 1px solid lightgrey;

                    .editor{
                        height: 100%;
                        border: none;
                    }
                }
            }

            .menu{
                flex: 2;
                display: flex;
                flex-direction: column;
                gap: 1.25rem;

                .item{
                    padding: .62rem;
                    border: 1px solid lightgrey; 
                    flex: 1;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-size: .8rem;
                    color: #555;
                    gap: .5rem;

                    .cargarImgB{
                        cursor: pointer;
                        color: $orangeRed;
                        background-color: white;
                        border: 1px solid $orangeRed;
                        padding: .2rem .3rem;
                    }

                    h1{
                        font: 1.25rem;
                    }

                    .file{
                        text-decoration:  underline;
                        cursor: pointer;
                    }

                    .buttons{
                        display: flex;
                        justify-content: space-between;

                        :first-child{
                            cursor: pointer;
                            color: $orangeRed;
                            background-color: white;
                            border: 1px solid $orangeRed;
                            padding: .2rem .3rem;
                        }
                        :last-child{
                            cursor: pointer;
                            color: white;
                            background-color: $orangeRed;
                            border: 1px solid $orangeRed;
                            padding: .2rem .3rem;
                        }
                    }

                    .cat{
                        display: flex;
                        align-items: center;
                        gap: .12rem;
                        color: $orangeRed;
                    }
                }
            }
        }// fin de add

    }//fin container
}//fin app